p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    }
    ul{
      margin: 0;
      padding: 0;
    }
    button{
      cursor: pointer;
    }
    .container{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    img{
      display: block;
    }
    body {
        color: #212121;
        background: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
      }
      section{
      padding-top: 94px;
       padding-bottom: 94px;
      }