.header{
    margin: 0 auto;
    border: 1px solid #ECECEC;
  }
  .title-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    margin-right: 93px;
    padding-top:  24px;
    padding-bottom: 25px;
  }
  .studio-title-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
  }

.page-item{
align-items: center;
display: flex;
& + & {
  margin-left: 50px;
}
}

.header-current{
position: relative;
color:#2196f3;

&::after{
content: "";
position: absolute;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
left: 0;
bottom: -1px;
}
}

 .navigation{
   display: flex;
 }
  .pages-list{
    display: flex;
    list-style-type: none;
  }
   
  .link-page {
    padding:  32px 0 ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms linear;
    &:hover,
  &:focus {
    color: #2196f3;
  }
  }
  
  .link-page.current {
    color: #2196f3;
  }
 .header-connect{
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  margin-right: -15px;
  justify-content: center;
  &-item + &-item{
    margin-left: 50px;
  }
}
.connect-header-item{
margin-left: 30px;
}

  .contact-header-link{ display: flex;
  align-items: center;
  text-decoration: none;
    padding:  32px 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
   text-align: center;
   transition-property: color ;
   transition-duration: 250ms;
   transition-timing-function: linear;
   &-link:focus,
  &:hover{
    color: #2196f3;
  }
&:focus,
&:hover{
 fill: #2196f3;
} 
}
.contact-header-link:hover .icon-header-mail {
  fill:  #2196f3;
}
.contact-header-link:focus .icon-header-tel {
  fill: #2196f3;
}
 
  
  .icon-header-tel{
   align-items: center;
   fill: currentColor;
   margin-right: 10px;
  }
  .icon-header-mail{
    align-items: center;
   fill: currentColor;
    margin-right: 10px;
  } 